.carCard {
  flex: 0 0 auto;
  width: 18rem;
  margin: 4rem 1rem 1rem;
}

.carCard__type {
  font-size: 1rem;
}

.carCard__model {
  font-size: 1.2rem;
}

.carCard__img {
  width: 100%;
}

.carCard__buttons {
  display: flex;
  justify-content: center;
}

.carCard__buttons > * {
  color: #1c6bba;
  height: 0.9rem;
  margin: 1rem 0.2rem;
  text-decoration: none;
}