.shop,
.learn {
    text-align: center;
    padding: 4rem;
}

.shop__title,
.learn__title {
    font-size: 2rem;
    text-transform: uppercase;
}

.shop__car,
.learn__car {
    margin: 1rem 0 3rem;
}
