.cars__container {
  margin-left: 1.5rem;
}

.carsDesktop {
  margin: 2rem 0.7rem;
}

.cars__containerDesktop {
  display: flex;
}

.cars__containerDesktop > * {
  flex: 1 0 21%;
  width: 5rem;
  margin-left: 0.5rem;
}

.cars__navDesktop {
  display: flex;
  justify-content: right;
}
