.cars__container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: 0.5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.cars__container:first-child {
  margin-left: 0.5rem;
}

.cars__container::-webkit-scrollbar {
  display: none; 
}

.cars__nav {
  display: flex;
  justify-content: center;
}

.cars__nav > * {
  width: 1rem;
  margin: 0.2rem;
}

.carsDesktop {
  margin: 2rem;
}

.cars__containerDesktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cars__containerDesktop > * {
  flex: 1 0 21%;
  width: 5rem;
}

.cars__navDesktop {
  display: flex;
  justify-content: right;
}

.cars__navDesktop > * {
  width: 2rem;
  margin: 0.2rem;
  cursor: pointer;
}