@font-face {
  font-family: nunito;
  src: url('/public/fonts/Nunito.ttf');
  font-weight: 400;
}

@font-face {
  font-family: ramabhadra;
  src: url('/public/fonts/Ramabhadra.ttf');
}

:root {
  --gray: #878787;
  --blue: #1c6bba;
  --swiper-theme-color: #000000!important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito, sans-serif;
}
