@font-face {
  font-family: nunito;
  src: url('../fonts/Nunito.ttf');
  font-weight: 400;
}

@font-face {
  font-family: ramabhadra;
  src: url('../fonts/Ramabhadra.ttf');
}

:root {
  --gray: #707070;
  --blue: #284e80;
  --swiper-theme-color: #000000!important;
  --swiper-pagination-bullet-inactive-color: rgb(155, 155, 155);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito, sans-serif;
}
